<section id="work" class="work">
    <div class="work__game"></div>
    <div class="work__video"></div>
    <h1 class="work__title">Legipix c'est une communauté de gamers mais aussi de vidéastes qui partage une passion
        commune pour le fun et le fair-play.
        <small class="work__subtitle">(et ce depuis 2009)</small>
    </h1>

    <div class="splash__more">
        <span class="splash__more__text">Nos titres préférés</span>
        <a href="#games" class="splash__more__button scrollTo">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
        </a>
    </div>
</section>

<section id="games" class="game">
    <div data-game="1" class="game__container animated" style="background-image:url(./img/game/halo.jpg)">
        <div class="game__overlay">
            <div class="game__info">
                <img src="./img/logo/halo.png" alt="halo" class="game__info__logo">
                <p class="game__info__content">
                    Nos efforts créatifs se concentrent principalement sur la saga Halo qui est à l'origine de la
                    formation de la communauté.
                    Nous jouons principalement à
                    <b>Halo 5 : Guardians</b> et aussi de temps en temps à
                    <b>Halo : The Master Chief Collection</b>.
                </p>
            </div>
        </div>
    </div>
    <div data-game="2" class="game__container animated hidden" style="background-image:url(./img/game/sot.jpg)">
        <div class="game__overlay">
            <div class="game__info">
                <img src="./img/logo/sea_of_thieves.png" alt="sot" class="game__info__logo">
                <p class="game__info__content">
                    Nous jouons aux pirates sur les mers agitées de <b>Sea of Thieves</b> à l'occasion d'un
                    contrat, d'un évènement ou tout simplement pour passer le temps.
                    N'y prenez garde, nous sommes redoutables.
                </p>
            </div>
        </div>
    </div>
    <div data-game="3" class="game__container animated hidden" style="background-image:url(./img/game/mc.jpg)">
        <div class="game__overlay">
            <div class="game__info">
                <img src="./img/logo/minecraft.png" alt="sot" class="game__info__logo">
                <p class="game__info__content">
                    Nous construisons le village paisible de Legitown sur notre Realm
                    <b>Minecraft</b> (version Bedrock). Explorations, architecture, ingénieurie... C'est notre
                    grand terrain de
                    jeu.
                </p>
            </div>
        </div>
    </div>
    <div data-game="4" class="game__container animated hidden" style="background-image:url(./img/game/forza.jpg)">
        <div class="game__overlay">
            <div class="game__info">
                <img src="./img/logo/forza_cropped.png" alt="sot" class="game__info__logo">
                <p class="game__info__content">
                    Nous nous engageons dans des courses effrénées sur les jeux de la série <b>Forza Motorsports</b>
                    et <b>Forza Horizon</b>.
                    Venez nous défier si vous vous sentez capable de nous battre.
                </p>
            </div>
        </div>
    </div>
    <div id="progress" class="game__progress"></div>
    <div class="game__controls">
        <button data-game="1" class="game__controls__bullet active"></button>
        <button data-game="2" class="game__controls__bullet"></button>
        <button data-game="3" class="game__controls__bullet"></button>
        <button data-game="4" class="game__controls__bullet"></button>
    </div>
    <div class="splash__more">
        <span class="splash__more__text">Notre histoire</span>
        <a href="#more" class="splash__more__button scrollTo">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
        </a>
    </div>
</section>