<section class="splash">
    <div class="splash__title animated fadeIn">
        <h1 class="splash__header">Legipix<small class="splash__header__small">.net</small></h1>
        <h2 class="splash__subHeader">Rejoignez nous aujourd'hui et passez des moments inoubliables.</h2>
        <a target="_blank" href="https://www.youtube.com/channel/UCr7iUn0xLmgXgLSoJBD-GfA" class="splash__link splash__link--youtube animated fadeInLeft">
            <i class="fab fa-youtube"></i>
            YouTube
        </a>
        <a target="_blank" href="https://account.xbox.com/fr-FR/clubs/profile?clubid=3379882933364703" class="splash__link splash__link--xbox animated fadeInUp">
            <i class="fab fa-xbox"></i>
            Club Xbox
        </a>
        <a target="_blank" href="https://discord.gg/EjwnhGE" class="splash__link splash__link--discord animated fadeInRight">
            <i class="fab fa-discord"></i>
            Discord
        </a>
    </div>
    <div class="splash__more">
        <span class="splash__more__text">Nous découvrir</span>
        <a href="#work" class="splash__more__button scrollTo">
            <i class="fas fa-angle-down animated flash" aria-hidden="true"></i>
        </a>
    </div>
</section>