/**
 * Importing the dependencies
 */

@import "compass/compass";
@import "compass/animation/core"; 
/**
 * Importing the helpers
 */

@import "helpers/config";
@import "helpers/mixins";


html {
    height: 100%;
}

body {
    background-attachment: fixed;
    background-color: transparent;
    background-image: url("../albartros98/23460_720.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
    cursor: default; //font-family: "Source Sans Pro", sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px; //font-weight: 400;
    margin: 0;
    min-height: 100%;
    min-width: 330px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    background-color: rgba(0, 0, 0, 0.75);
    left: 50%;
    padding: 10px 25px;
    position: absolute;
    text-align: center;
    top: 50%;
}

h1 {
    left: 0;
    position: relative;
    top: 0;
    font-family: "Poiret One", cursive; //font-family: 'Titillium Web', sans-serif;
    font-size: 4em;
    font-weight: 100;
    margin: 0;
    padding: 0;
    text-align: center;
}

p {
    font-size: 1em;
    left: 0;
    letter-spacing: 0.2px;
    margin: 0;
    position: relative;
    text-align: left;
    top: 0;
    word-spacing: 1px;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: inherit;
    outline: 0;
}

.youtube_url {
    bottom: 10px;
    position: absolute;
    right: 25px;
}

.xbox_url {
    bottom: 10px;
    position: absolute;
    right: 100px;
}

.svg {
    display: inline-block;
    width: auto;
    height: 1.25em;
    fill: #f5f5f5;
}

#demo-canvas {
    display: none;
    @include b(m) {
        display: initial;
    }
}

@media only screen and (min-width: 1280px) {
    body {
        background-image: url("../albartros98/23460_1080.jpg"); //background-size: 105% auto;
        //background-position: top;
    }
}

@media only screen and (min-width: 4096px) {
    body {
        background-image: url("../albartros98/23460_4K.jpg");
    }
}