.errorContainer {
    background: url(../img/background/desert.jpg) no-repeat center 75%;
    background-size: auto;
    position: relative;
    height: calc(100vh - 9.7em);
    @include b(m) {
        height: calc(100vh - 8em);
    }
}

.error {
    @include transition(padding 0.2s);
    @include translate(-50%, -50%);
    @include flexbox(( align-items: center, display: flex, flex-direction: column, ));
    left: 50%;
    position: absolute;
    color: white;
    text-align: center;
    top: 50%;
    @include e(title) {
        font-size: 6em;
        font-weight: 600;
        margin: .2em auto;
        @include b(l) {
            font-size: 7em;
        }
    }
    @include e(subTitle) {
        @include transition(font-size 0.2s, margin 0.2s);
        font-size: 1.3em;
        font-weight: 400;
        margin: -1em 0 .5em;
    }
}