.game {
    background-color: darken($secondary-color, 10);
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-height: 100vh;
    @include b(m) {
        height: 600px;
    }
    @include b(xxl) {
        height: 60vh;
    }
    @include e(container) {
        background-position-x: right;
        background-repeat: no-repeat;
        background-size: auto 50vh;
        height: 100%;
        width: 100%;
        @include b(m) {
            background-position-x: right;
            background-size: auto 105%;
        }
        @include b(xl) {
            background-position-x: right;
            background-size: 75% auto;
        }
    }
    @include e(overlay) {
        @include background-image(linear-gradient(to bottom, rgba(20, 27, 46, 0.2) 0%, darken($secondary-color, 10) 45%, darken($secondary-color, 10) 100%));
        background-blend-mode: multiply;
        height: 100%;
        width: 100%;
        @include b(m) {
            @include background-image(linear-gradient(to left, rgba(20, 27, 46, 0.2) 0%, darken($secondary-color, 10) 55%, darken($secondary-color, 10) 100%));
        }
    }
    @include e(info) {
        text-align: center;
        position: relative;
        top: 40%;
        @include b(m) {
            @include translateY(-50%);
            left: 0;
            position: absolute;
            top: 50%;
            width: 40%;
        }
        @include e(logo) {
            width: 75%;
        }
        @include e(content) {
            color: $font-alt-color;
            font-size: 1.15em;
            font-weight: 300;
            line-height: 1.2;
            margin: 1em auto 0;
            width: 75%;
            @include b(m) {
                font-size: 1.25em;
                line-height: 1.3;
                margin: 2em auto 0;
            }
        }
    }
    @include e(controls) {
        @include translateX(-50%);
        top: 10px;
        left: 50%;
        position: absolute;
        z-index: 1;
        @include e(bullet) {
            background-color: darken($background-color, 50%);
            border-radius: 10px;
            display: inline-block;
            height: 10px;
            margin: 0 5px;
            width: 10px;
            outline: none;
            border: none;
            padding: 0;
            &.active {
                background-color: $background-color;
            }
        }
    }
    @include e(progress) {
        background-color: $primary-color;
        top: 0;
        height: 3px;
        position: absolute;
        @include m(run) {
            @include animation(progress 9s 1 linear);
        }
    }
}

@include keyframes(progress) {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}