nav {
    @include clearfix();
    @include translateX(-50%);
    @include align-content(flex-start);
    @include align-items(center);
    @include display-flex(flex);
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include justify-content(center);
    color: white;
    height: 3em;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 80%;
    z-index: 2;
    @include b(m) {
        height: 4em;
        text-align: left;
        @include justify-content(space-between);
    }
    &.nav {
        @include box-shadow($secondary-color 0 0 5px);
        @include transform(none);
        background-color: darken($secondary-color, 10);
        left: 0;
        padding: 0 5%;
        position: sticky;
        width: 100%;
        @include b(m) {
            padding: 0 10%;
        }
        .logo {
            @include b(m) {
                height: 4em;
            }
            display: inline-block;
            height: 3em;
            vertical-align: middle;
            @include e(link) {
                @include b(m) {
                    line-height: 4em;
                }
                line-height: 3em;
            }
        }
    }
}

.logo {
    @include b(m) {
        display: inline-block;
    }
    display: none;
    height: 4em;
    vertical-align: middle;
    @include e(site) {
        @include b(m) {
            display: inline-block;
        }
        display: none;
        font-size: 1.2em;
        line-height: 4em * 0.8;
        margin-left: 0.15em;
        text-transform: uppercase;
    }
    @include e(link) {
        @include b(m) {
            margin-right: 0;
        }
        display: inline-block;
        line-height: 4em;
        margin-left: 0.85em;
        margin-right: 0.85em;
        position: relative;
        &::after {
            @include transition(height .2s ease);
            background-color: $primary-color;
            bottom: 0;
            content: "";
            display: block;
            height: 0;
            position: absolute;
            width: 100%;
        }
        &:hover {
            &::after {
                height: 3px;
            }
        }
        @include m(active) {
            &::after {
                height: 3px;
            }
        }
    }
}