.splash {
    @include background-image(linear-gradient(rgba(20, 27, 46, 0.4), rgba(20, 27, 46, 0.2)), url(../img/background/halo_smol.jpg));
    //background-size: cover;
    background-size: auto 100%;
    background-position: center;
    height: 100vh;
    min-height: 275px;
    position: relative;
    width: 100vw;
    @include b(l) {
        @include translateZ(0);
        @include animation(background-animate 5s ease-out 1);
        @include background-image(linear-gradient(rgba(20, 27, 46, 0.4), rgba(20, 27, 46, 0.2)), url(../img/background/halo_big.jpg));
        background-size: 100% auto;
    }
    @include b(uhd) {
        @include background-image(linear-gradient(rgba(20, 27, 46, 0.4), rgba(20, 27, 46, 0.2)), url(../img/background/halo.jpg));
    }
    @include e(title) {
        @include lato-font();
        @include translate(-50%, -50%);
        color: white;
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
    }
    @include e(header) {
        font-size: 3em;
        margin: 0;
        font-weight: 400;
        @include e(small) {
            font-size: 0.65em;
            font-weight: 300;
        }
    }
    @include e(subHeader) {
        margin: 1em;
        font-weight: 400;
        font-size: 1em;
    }
    @include e(link) {
        @include transition(background-color 0.25s ease);
        background-color: transparent; //border-radius: 1.4em;
        //border: 1px solid white;
        display: inline-block;
        margin: 0 5px;
        padding: 0.7em 2em;
        @include m(discord) {
            &:hover {
                background-color: #7289da;
            }
        }
        @include m(youtube) {
            &:hover {
                background-color: #FF3C3C;
            }
        }
        @include m(xbox) {
            &:hover {
                background-color: #52b043;
            }
        }
        i {
            font-size: 2em;
            vertical-align: middle;
            margin-right: .3em;
        }
    }
    @include e(more) {
        background-color: white;
        bottom: 0;
        height: 5px;
        position: absolute;
        width: 100vw;
        @include e(text) {
            @include translate(-50%, -100%);
            color: white;
            left: 50%;
            position: absolute;
            top: -2.35em;
            top: calc(-1 * (10px + 1.5em + 4px));
        }
        @include e(button) {
            @include border-top-radius(5px);
            @include translate(-50%, -100%);
            background-color: white;
            color: #00539F;
            font-size: 1.5em;
            left: 50%;
            padding: 5px 0 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 2.5em;
        }
    }
}

@include keyframes(background-animate) {
    0% {
        background-size: 115%;
    }
    100% {
        background-size: 100% auto;
    }
}