/**
 * Mixins de polices
 */

@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Roboto:100|Source+Sans+Pro:300,400,600|Open+Sans:600");

@mixin default-font() {
    font: $font-default-style $font-default-weight $font-default-size "Source Sans Pro", sans-serif;
    line-height: $font-default-line-height;
}

@mixin roboto-font() {
    font-family: "Roboto", sans-serif;
}

@mixin lato-font() {
    font-family: "Lato", sans-serif;
}

@mixin open-sans() {
    font-family: "Open Sans", sans-serif;
}

@mixin monserrat-font() {
    font-family: "Monserrat", sans-serif;
}

/**
 * Breakpoint
 */

@mixin b($point) {
    @if $point==m {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $point==l {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $point==xl {
        @media (min-width: 1920px) {
            @content;
        }
    }
    @else if $point==xxl {
        @media (min-width: 1280px) {
            @content;
        }
    }
    @else if $point==uhd {
        @media (min-height: 2160px) {
            @content;
        }
    }
}

/**
 * Norme BEM
 */

@mixin e($element) {
    &__#{$element} {
        @content;
    }
}

@mixin m($modifier) {
    &--#{"" + $modifier} {
        @content;
    }
}