---
layout: default
title: Machinimas signés Legipix
description: "Les machinimas signés Legipix sont réalisés afin de proposer des histoires uniques et qui nous tiennent à coeur."
permalink: /machinima/
comments: false
nav: true
---

<section class="machinima">

    {% for machinima in site.machinima reversed %}
        
        <div class="machinima__card" style="background-image: url({{ site.url }}/img/machinima/{{ machinima.image }})">
            {% if machinima.ribbon %}
                <div class="machinima__ribbon">
                    <span>{{ machinima.ribbon }}</span>
                </div>
            {% endif %}
            
            <div class="machinima__card__overlay">
                <div class="machinima__card__content">
                    <h1 class="machinima__card__content__title">{{ machinima.title }}</h1>
                    <h4 class="machinima__card__content__info">({{ machinima.date | date: "%Y" }}) {{ machinima.genre }}</h4>
                    <p class="machinima__card__content__description">{{ machinima.description }}</p>
                    <a href="{{ machinima.url }}" class="machinima__card__content__button">
                        <i class="fas fa-play"></i>
                        Regarder
                    </a>
                </div>
            </div>
        </div>
        
    {% endfor %}

</section>