---
layout: default
title: Machinima
description: "Les machinimas signés Legipix sont réalisés afin de proposer des histoires uniques et qui nous tiennent à coeur."
permalink: machinima
comments: false
nav: true
---
<h1 class="page__title page__title--machinima">Nos machinimas</h1>
<section class="machinima">

    <div class="machinima__flex">
        
        {% for machinima in site.machinima reversed %}
        
        <div class="machinima__card" style="background-image: url({{ site.url }}/{{ machinima.image }})">
            {% if machinima.ribbon %}
            <div class="machinima__ribbon">
                <span>{{ machinima.ribbon }}</span>
            </div>
            {% endif %}
        
            <div class="machinima__card__overlay">
                <div class="machinima__card__content">
                    <h2 class="machinima__card__content__title">{{ machinima.title }}</h2>
                    <h4 class="machinima__card__content__info">({{ machinima.date | date: "%Y" }}) {% for genre in
                        machinima.genre %}{{ genre }}{% unless forloop.last == true %}, {% endunless %}{% endfor %}</h4>
                    <p class="machinima__card__content__description">{{ machinima.description }}</p>
                    <a href="{{ machinima.url }}" class="machinima__card__content__button">
                        <i class="fas fa-play"></i>
                        Regarder
                    </a>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>

</section>